.page {
  background-color: #000;
  color: #fff;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto 0;
  padding: 45px 15.625% 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}