.popup__close {
  margin: 0;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  background-image: url(../../../images/popup__close.svg);
  cursor: pointer;
  top: calc(195px - 8px - 32px);
  left: calc(100% / 2 + 430px / 2 + 8px);
}

@media screen and (max-width: 600px) {
  .popup__close{
    width: 20px;
    height: 20px;
    top: 87px;
    left: calc(100% / 2 + 282px / 2 - 20px);
    background-image: url(../../../images/popup__close320.svg);
  }
}